<div class="main-container">
	<header class="header-2">
		<div class="branding">
			<a class="nav-link">
				<clr-icon shape="home" size="24"></clr-icon>
				<span class="title">Project Clarity</span>
			</a>
		</div>
		<div class="header-nav">
			<a class="active nav-link nav-text">Home</a>
		</div>
	</header>
	<div class="content-container">

		<div class="content-area">
      <h3>Testing ATD - GLG work flow</h3>
			<ul>
				<li>All styles to override clarity styles will live in the styles.css file.</li>
				<li>Thanks ATD! - Ryan Flynn, GLG</li>
			</ul>

      <h2>Typography</h2>

      <h1>H1 Login Header</h1>
      <h2>H2 Page Header</h2>
      <h3>H3 Modal, Wizard Header</h3>
      <h4>H4 Card, Signpost Header</h4>
      <h5>H5 Stack View Header</h5>
      <h6>H6 Header</h6>

      <p>P tag</p>
      <p class="p1">P1 Body text</p>
      <p class="p2">P2 Section header</p>
      <p class="p3">P3 Table, grid, and form text</p>
      <p class="p4">P4 Form labels and column headers</p>
      <p class="p5">P5 Table footers and chart data</p>
      <p class="p6">P6 Mostly buttons</p>
      <p class="p7">P7 Tags and labels</p>
      <p class="p8">P8 Badges</p>

      <h2>Buttons</h2>
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-danger">Danger</button>
      <button class="btn btn-success">Success</button>
      <button class="btn btn-outline">Regular</button>
		</div>

    <nav class="sidenav">
        <section class="sidenav-content">
            <a href="..." class="nav-link active">
                Nav Element 1
            </a>
            <a href="..." class="nav-link">
                Nav Element 2
            </a>
            <section class="nav-group collapsible">
                <input id="tabexample1" type="checkbox">
                <label for="tabexample1">Collapsible Nav Element</label>
                <ul class="nav-list">
                    <li><a class="nav-link">Link 1</a></li>
                    <li><a class="nav-link">Link 2</a></li>
                </ul>
            </section>
            <section class="nav-group">
                <input id="tabexample2" type="checkbox">
                <label for="tabexample2">Default Nav Element</label>
                <ul class="nav-list">
                    <li><a class="nav-link">Link 1</a></li>
                    <li><a class="nav-link">Link 2</a></li>
                    <li><a class="nav-link active">Link 3</a></li>
                    <li><a class="nav-link">Link 4</a></li>
                    <li><a class="nav-link">Link 5</a></li>
                    <li><a class="nav-link">Link 6</a></li>
                </ul>
            </section>
        </section>
    </nav>

	</div>
</div>
