/********************************
** New ATD Clarity theme - GLG **
********************************/

// - Global
// - Alerts
// - Badge
// - Button
// - Datagrid
// - Dropdown
// - Form, Input, Checkbox, Radio, Toggle
// - Header
// - Label
// - Login
// - Modal
// - Nav
// - Table
// - Progress Bars
// - Signpost
// - Spinner
// - Stack View
// - Table
// - Tabs
// - Tooltip
// - Tree View
// - Typography
// - Vertical Nav
// - Wizard

/*********
 * Global variables will have an effect on or in multiple Clarity components.
 * Where possible, there is a list files affected by the variable.
 */

////////////
// Colors //
////////////

$ATD-dark-blue: #001a31;
$ATD-blue: #227fb8;
$ATD-blue-alt: #1b6593;
$ATD-light-blue: #e3edf5;
$ATD-gray-1: #414042;
$ATD-gray-2: #6f6f6f;
$ATD-gray-3: #b9b8b8;
$ATD-gray-4: #e6e6e6;
$ATD-off-white: #f4f4f4;
$ATD-dark-red: #d63c24;
$ATD-green: #62a420;


/*********
 * Name: Link (and link state colors)
 * Description the color for links and the active, hovered and visited state
 * Usages: ./_reboot.clarity.scss
 */
$clr-link-active-color: $ATD-blue;
$clr-link-color: $ATD-blue;
$clr-link-hover-color: $ATD-dark-blue;
$clr-link-visited-color: $ATD-blue;
// END: Global Clarity Variables


/**********
 * Alerts
 * Alerts are banners that communicate a message with a severity attached to it. They grab the user’s attention to
 * provide critical information needed in context. These variables control the background-color and font color for each
 * of the alert types.
 *
 * There are seven types of alert and we set the background-color and font color for each here.
 * Usage: ./_maps.clarity.scss
 */

$clr-alert-app-disabled-color: #6d7884;
$clr-theme-alert-font-color: #e9ecef;
//clr-theme-app-alert-font-color: $clr-black;

// Info type
$clr-alert-info-bg-color: $ATD-light-blue;

// Success type
$clr-alert-success-bg-color: #dff0d0;

// Danger type
$clr-alert-danger-bg-color: #f5dbd9;

// Warning type
$clr-alert-warning-bg-color: #feecb5;

// App Info type
$clr-app-alert-info-bg-color: $ATD-blue;

/**********
 * END: Alerts
 */


/*****************
 * Badge
 * Badges provide a method to highlight a count of an element either next to it or inside the element itself.
 * Here you can set the background-color and font color(s) for the various badge types.
 * There are five color options and four status types a Clarity label may have.
 *
 * Usage: ./_maps.clarity.scss
 */
$clr-badge-font-color: $gray-lightest;

// Usage: ../utils/_maps.clarity.scss
$clr-badge-font-color-contrast: $clr-black;

$clr-badge-info-bg-color: #007cbb;

$clr-badge-success-bg-color: $ATD-green;
$clr-badge-warning-bg-color: #efd603;

$clr-badge-purple-bg-color: #9460b8;
$clr-badge-orange-bg-color: #f38b00;
// END: Badge




/*****************
 * Buttons
 * Buttons allow an application to communicate action and direct user intent.
 * Buttons can be: solid, outlined or flat.
 * Solid and outline have four types: primary, success, warning, danger.
 * Buttons can be disabled.
 *
 * For each button type, use these variables to change the following button properties:
 * - background color
 * - border
 * - (font) color
 * - :hover background-color
 * - :hover (font) color
 * - box-shadow color
 *
 *  NOTE: these variables also affect button groups.
 *
 * Usage: ./_maps.clarity.scss
 */

// Default button colors
// Usage: ../utils/_maps.clarity.scss
$clr-btn-default-disabled-color: $ATD-gray-2; // disabled-color

// Default outline button
$clr-btn-default-outline-disabled-color: $ATD-gray-2; // disabled-color

// Primary button colors
// Usage: ../utils/_maps.clarity.scss
$clr-btn-primary-bg-color: $ATD-blue; // background-color, disabled-background-color
$clr-btn-primary-border-color: $ATD-blue; // border-color

// Success button colors
// Usage: ../utils/_maps.clarity.scss
$clr-btn-success-bg-color: $ATD-green; // background-color, border-color

// Success outline button colors
// Usage: ../utils/_maps.clarity.scss
$clr-btn-success-outline-color: $ATD-green; // color
$clr-btn-success-outline-border-color: $ATD-green; // border-color, checked-background-color

// Danger button colors
// Usage: ../utils/_maps.clarity.scss
$clr-btn-danger-bg-color: $ATD-dark-red; // background-color, border-color

// Danger outline button colors
// Usage: ../utils/_maps.clarity.scss
$clr-btn-danger-outline-border-color: $ATD-dark-red; // border-color
$clr-btn-danger-outline-color: $ATD-dark-red; // color
$clr-btn-danger-outline-checked-bg-color: $ATD-dark-red; // checked-background-color

// Link button colors
// Usage: ../utils/_maps.clarity.scss
$clr-btn-link-color: $ATD-blue; // color

// END: Buttons


/**********
 * Date Picker
 * 
 *
 * Usage:
 */
$clr-calendar-btn-color: $ATD-blue;


// END: Date Picker


/**********
 * Datagrid
 * Datagrids are for organizing large volumes of data that users can scan, compare, and perform actions on.
 *
 * Usage: ../data/datagrid/_datagrid.clarity.scss
 */
 // I WILL COME BACK TO THIS AFTER TABLES
// END: Datagrid



/*********
 * Dropdown
 * A dropdown menu allows the user to choose an option or action from a contextual list. Use these variables to change
 * the look-n-feel of your dropdowns.
 *
 * Usage: ../popover/dropdown/_dropdown.clarity.scss
 */
 $clr-dropdown-header-color: $ATD-dark-blue;
 $clr-dropdown-item-text-color: $ATD-gray-2;
 $clr-dropdown-text-color: $ATD-gray-2;
 $clr-dropdown-active-text-color: $ATD-gray-2;
 $clr-dropdown-bg-hover-color: $ATD-light-blue;
 $clr-dropdown-selection-color: $ATD-light-blue;
 $clr-dropdown-border-color: #ccc;
 $clr-dropdown-divider-color: $ATD-gray-4;
// END: Dropdown overrides



/******
 * Forms: TODO: track down component usages and names
 * A form is a structured layout of related input components.
 * There are a variety of variables used to change form elements, including:
 *
 * Usage:
 * ../forms/styles/_checkbox.clarity.scss
 * ../forms/styles/_containers.clarity.scss
 * ../forms/styles/_file.clarity.scss
 * ../forms/styles/_form.clarity.scss
 * ../forms/styles/_input.clarity.scss
 * ../forms/styles/_input-group.clarity.scss
 * ../forms/styles/_mixings.forms.scss
 * ../forms/styles/radio.clarity.scss
 * ../forms/styles/_select.clarity.scss
 * ../forms/styles/_textarea.clarity.scss
 * ../forms/styles/_variables.clarity.scss
 *
 */

//GENERIC
$clr-forms-invalid-color: $ATD-dark-red;
$clr-forms-border-color: #ccc;

// Textarea
$clr-forms-textarea-background-color: #17242b;

// Select
// TODO: Properly map these to updated dark theme design
// NOTE: The new form selects seemed to be working like the deprecated form selects so I'm leaving
//       these commented out for now.
//$clr-forms-select-hover-background: rgba(221, 221, 221, 0.5); // CAN WE KEY THIS FROM A KNOWN COLOR
//$clr-forms-select-caret-hover-color: $gray-dark;
//$clr-forms-select-caret-color: $gray-dark-midtone;
//$clr-forms-select-option-color: $clr-forms-text-color;
//$clr-forms-select-multiple-background-color: $clr-white;
//$clr-forms-select-multiple-border-color: $gray-light-midtone;
//$clr-forms-select-multiple-option-color: $clr-forms-text-color;
*/
// Checkbox
 $clr-forms-checkbox-background-color: $ATD-blue;
 $clr-forms-checkbox-disabled-background-color: $ATD-gray-4;
 $clr-forms-checkbox-disabled-mark-color: $ATD-gray-2;
/*
// Radio
$clr-forms-radio-label-color: #adbbc4;
$clr-forms-radio-selected-shadow: $clr-forms-checkbox-checked-shadow;
$clr-forms-radio-focused-shadow: 0 0 $clr-outline-blur $clr-outline-spread $clr-outline-color;
$clr-forms-radio-disabled-background-color: $clr-form-disabled-background-color;
$clr-forms-radio-disabled-mark-color: $clr-forms-checkbox-disabled-mark-color;
$clr-forms-radio-disabled-shadow: $clr-forms-checkbox-checked-shadow;


/**********
 * Typography
 * Clarity uses the geometric sans-serif font, Metropolis.
 *
 * Usage:
 * - ../typography/_typography.clarity.scss
 * - ../data/datagrid/_datagrid.clarity.scss
 */

 @import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Condensed&display=swap');

$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;

$clr-font: $roboto;
$clr-altFont: $montserrat;

$clr-h1-color: $ATD-dark-blue;
$clr-h2-color: $ATD-blue;
$clr-h3-color: $ATD-dark-blue;
$clr-h4-color: $ATD-blue;
$clr-h5-color: $ATD-gray-1;
$clr-h6-color: $ATD-gray-1;

$clr-p1-color: $ATD-gray-2;
$clr-p2-color: $ATD-gray-1;
$clr-p3-color: $ATD-gray-1;
$clr-p4-color: $ATD-dark-blue;
$clr-p5-color: $ATD-gray-2;
$clr-p6-color: $ATD-dark-blue;
$clr-p7-color: $ATD-gray-2;
$clr-p8-color: $ATD-gray-2;