/* Add application styles & imports to this file! */

/********************************
** New ATD Clarity theme - GLG **
********************************/


/////////////
// Buttons //
/////////////

.btn {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  text-transform: initial;
}
.btn-primary {
  border-radius: 18px;
  background-color: #227fb8;
}